.gallery_list{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery_item{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
}

.img_comments {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    }

.image_comment {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.load-more {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 150px;
    background-color: blue;
    color: white;
}

.load-more.hidden {
    display: none;
}